---
title: 博客
layout: default
assets: blog
---
    <aside>
	{% for website in site.websites %}
	   {% unless website.isHide == true %}
              <a href="{{ website.url }}">{{ website.title }}</a>
	   {% endunless %}
	{% endfor %}
</aside>
<div class="content">
	{% for website in site.websites %}
	   {% unless website.isHide == true %}
             	{% for content in page.websites %}
        {% unless content.isHide == true %}
        <p>{{ content.name }} : <a href="{{ content.url }}">{{ content.url }}</a></p>
        {% endunless %}
	{% endfor %}
		<p>-----------------------------------------------------------------</p>
	   {% endunless %}
	{% endfor %}
</div>
<!-- 作者: ptw-cwl -->
<!-- 个人网站: ptw-cwl.com -->
<!-- 如有侵权，请联系删除。 -->