<head>
    <meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="baidu-site-verification" content="codeva-lE0MSNYHsb" />
    <meta name="google-site-verification" content="3zEQTQ2t2CCabOVYd1xaaSwBfDksLY7ecf0vu8eFxls" />
    <meta name="google-site-verification" content="vd2fdM2eWt4VcWvchFOf_hI7fPmfwV_ro69KRWz91NU" />

    <title>{{ page.title }}</title>
	<link rel="shortcut icon" href="/assets/images/ptw-cwl-icon.png" type="image/x-icon">

	{% if page.css != nil %}
	<link rel="stylesheet" href="/assets/css/{{ page.css }}.css">
	{% else %}
	<link rel="stylesheet" href="/assets/css/styles.css">
	{% endif %}
</head>
