
nav {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: #333;
}

nav a {
  color: white;
  height: 70px;
  width: 80px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav > a:first-child {
  width: 120px;
  margin-right: auto;
  margin-left: 10px;
}

nav > a:last-child {
  margin-left: auto;
  margin-right: 10px;
}

.dropdown-content {
  display: none;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: #333;
}


