
nav {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

nav a {
  height: 70px;
  width: 80px;
}

nav > a:first-child {
  width: 120px;
  margin-right: auto;
  margin-left: 10px;
}

nav > a:last-child {
  margin-left: auto;
  margin-right: 10px;
}

.dropdown-content {
  display: none;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: #333;
}


/*
作者: ptw-cwl
个人网站: ptw-cwl.com
如有侵权，请联系删除。
*/