@charset "utf-8";

@import "ptw-cwl";
@import "component";


body, html, .ptw-cwl {
   @extend .full-size;
   display: flex;
}

.full-size {
    width: 100%;
    height: 100%;
    margin: 0;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

