---
---
@import "base";

  .ptw-cwl {
    @extend .centered-container;
  }
 
  .outer {
    width: 30%;
    height: 40%;
    display: flex;
    flex-direction: column;
  }

  .upper {
     width: 100%;
     height: 80%;
    @extend .centered-container;
  }

  .lower {
    width: 100%;
     height: 20%;
    @extend .centered-container;
  }


.container {
   width: 100%;
   height: 100%;
   @extend .centered-container;
   font-size: 20vh; 
}