---
---
@import "base";

  .ptw-cwl {
    @extend .centered-container;
  }

    .container {
      text-align: center;
      padding: 5%;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    h1 {
      font-size: 72px;
    }

    p {
      font-size: 18px;
    }

    a {
      color: #007bff;
    }