---
---
@import "base";

  ptw-cwl {
    @extend .centered-container-flex;
  }

    .container {
      text-align: center;
      padding: 5%;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .container h1 {
      font-size: 72px;
    }

    .container p {
      font-size: 18px;
    }

/*
作者: ptw-cwl
个人网站: ptw-cwl.com
如有侵权，请联系删除。
*/