---
---
@import "default";

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container > p {
    font-size: 30px;
}

    .blog-card {
      width: 50%;
      margin: 20px;
      background-color: #f2f2f2;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: row;
    }

    .blog-card-left{
        width: 80%;
    }

    .blog-card-right{
       width: 20%;
    }

    .blog-card-left h1 {
      font-size: 30px;
    }

     .blog-card-left p {
      font-size: 18px;
    }

    .blog-card-right a {
      background-color: #007bff;
      border-radius: 10px;
      padding: 20px;
      color: #fff;
    }


/*
作者: ptw-cwl
个人网站: ptw-cwl.com
如有侵权，请联系删除。
*/

