---
---
@import "base";

.ptw-cwl-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 80px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.ptw-cwl-container {
    position: absolute;
    margin: 0 auto;
    width: 70%;
    height: 100%;
}

.ptw-cwl-container > a {
    position: absolute;
    width: 120px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 24px; 
    font-weight: bold; 
}


  

/*
作者: ptw-cwl
个人网站: ptw-cwl.com
如有侵权，请联系删除。
*/