---
---
@import "base";

  ptw-cwl {
    @extend .centered-container-flex;
    flex-direction: column;
  }

  .img {
     width: 30%;
     height: 30%;
  }

/*
作者: ptw-cwl
个人网站: ptw-cwl.com
如有侵权，请联系删除。
*/