---
---
@import "base";

  .ptw-cwl {
    @extend .full-size;
    @extend .centered-container;
  }
 
  .box {
    width: 30%;
    height: 30%;
    @extend .centered-container;
    flex-direction: column;
  }

  .img {
     width: 100%;
     height: 80%;
  }