---
---
@import "default";

aside {
    height: 100%;
    width: 100px;
    position: fixed;
    left: 0;
    padding-top: 20px;
}

aside a {
  height: 70px;
  width: 80px;
}

.content {
    margin-left: 100px;
    height: 100%;
    width: calc(100% - 100px);
}
