@import "default";

  ptw-cwl {
    @extend .full-size;
  }

.full-size {
    width: 100vw;
    height: 100vh;
}

.centered-container-grid {
  display: grid;
  place-items: center; 
}

.centered-container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

  .background-ptw-cwl {
     background: url('/assets/images/ptw-cwl.png') center/contain no-repeat;
  }


/*
作者: ptw-cwl
个人网站: ptw-cwl.com
如有侵权，请联系删除。
*/